body {
    margin: 0;
    background: #222;
    font-family: system-ui;
    display: grid;
    place-content: center;
    min-height: 100vh;
}

.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.App {
    display: flex;
    flex-direction: column;
    gap: 20px;
}