/* === Variables globales === */
:root {
    --background-color: #1F1F20;
    --border-radius: 30px;
    --btn: #90B484;
    --btn-dark: #749269;
    --font-size: clamp(0.5rem, 3vw, 1rem);
    --hover-color: #232324;
    --primary-color: #1a1a1b;
    --text-color: #777878;
}

/* === Tipografía === */
@font-face {
    font-family: garet;
    src: url('./assets/fonts/garet/Garet-Book.woff2');
    font-weight: 400;
    font-style: normal;
}

/* === Reset global === */
* {
    box-sizing: border-box;
    font-family: garet;
    margin: 0;
    padding: 0;
    transition: 0.3s;
}

/* === HTML y Body === */
html, body {
    background: var(--background-color);
    color: var(--text-color);
    height: auto;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

body {
    display: block;
}

/* === Estructura principal === */
#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* === Elementos base === */
ul {
    list-style: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

p {
    font-size: var(--font-size);
}

h1 {
    font-size: 2rem;
}

hr {
    background: var(--text-color);
    border: none;
    border-radius: 30px;
    height: 1px;
}
