.catbotButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: var(--border-radius);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.catbotButton.hidden {
    display: none;
}

.catbotLogo {
    width: 56px;
    height: 56px;
}

.catbotDropdown {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 450px;
    height: 500px;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 12px rgba(0, 0, 0, .25);
    z-index: 9999;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .catbotButton {
        display: none;
    }
}

.catbotHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--btn);
}

.titleCatbot {
    font-size: 1.5rem;
    color: var(--primary-color);
    font-weight: bold;
}

.catbotMessageContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 0.5rem;
    gap: 8px;
    scroll-behavior: smooth;
    overflow-y: auto;
}

.catbotMessageContainer::-webkit-scrollbar {
    width: 8px;
}

.catbotMessageContainer::-webkit-scrollbar-thumb {
    background-color: var(--btn);
    border-radius: var(--border-radius);
}

.catbotMessage {
    max-width: 80%;
    padding: 8px;
    border-radius: 8px;
    color: var(--text);
    align-self: flex-start;
}

.catbotInputContainer {
    display: flex;
    padding: 8px;
}

.catbotInput {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    color: var(--text);
    margin-right: 8px;
    outline: none;
}

.catbotButton {
    padding: 8px 16px;
    border-radius: var(--border-radius);
    background-color: var(--btn);
    color: white;
    border: none;
    cursor: pointer;
}