.search-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    gap: 1rem;
}

.main-content {
    flex: 1;
    margin-left: 100px;
    margin-right: 30px;
}

/* .channel-section, .short-section, .video-section {
    margin-bottom: 1rem;
    width: 95%;
} */

.channel-section {
    padding: 1rem 5rem 0 5rem;
    margin-bottom: 1rem;
    width: 95%;
}

/* .video-section {
    background-color: var(--primary-color);
    padding: 2rem 5rem;
    border-radius: var(--border-radius);
}

.short-section {
    background-color: var(--primary-color);
    padding: 2rem 5rem;
    border-radius: var(--border-radius);
} */
