.user-menu {
    position: relative;
}

.user-button {
    background-color: var(--primary-color);
    border: none;
    border-radius: var(--border-radius);
    color: var(--text);
    font-size: 1.2rem;
    cursor: pointer;
    position: relative;
    transition: background-color 0.2s ease;
}

.user-button:hover {
    color: var(--btn);
}

.user-dropdown {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: rgba(30, 30, 31, 0.85);
    border-radius: 8px;
    padding: 0.5rem;
    width: 240px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .25);
    z-index: 10;
}

.menuUserButtonLi {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.buttonIcon {
    font-size: 1.2rem;
    margin-right: 8px;
}

.menuUserButton {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 12px 16px;
    border-radius: var(--border-radius);
    border: none;
    background: transparent;
    color: var(--text);
    cursor: pointer;
    font-size: 1rem;
}

.menuUserButton:hover {
    border: none;
    background-color: var(--btn);
    color: var(--primary-color);
    cursor: pointer;
    font-size: 1rem;
}

.StudioIcon {
    width: 25px;
    height: auto;
    margin-right: 8px;
}

.StudioIcon:hover {
    color: aqua;
}
